.background {
  display: flex;
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: fit-content;
  object-fit: contain;
  position: absolute;
  z-index: -1;
  opacity: 0.8;
}

.search-container{
  display: flex;
  justify-content: flex-end;
}

.search{
  outline: none;
  display: flex;
  justify-self: flex-start;
  margin-top: 50px;
  margin-left: -30px;
  width: 200px;
  height: 30px;
  background-color: '#FFFFFF';
  border-radius: 5px;
  position: absolute;
  z-index: 1;
}

.avatar{
  display: flex;
  width: 100px;
  border-radius: 5px;
}

.info{
  display: flex;
  flex-direction: row;
  width: 400px;
  border-radius: 5px;
  padding: 5px;
  margin-top: 250px;
  margin-left: 10px;
  font-weight: bold;
}